/** This is the CSS for my personal portfolio **/

body {
    font-family: Raleway;
    font-size: 17px;
    background-color: #f0f0f0;
}
/**
@font-face {
    font-family: bebas;
    src: url("bebas_neue/BebasNeue Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: bebas;
    src: url("bebas_neue/BebasNeue Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: bebas;
    src: url("bebas_neue/BebasNeue Book.otf");
    font-weight: 300;
}

@font-face {
    font-family: bebas;
    src: url("bebas_neue/BebasNeue Thin.otf");
    font-weight: 200;
}

@font-face {
    font-family: bebas;
    src: url("bebas_neue/BebasNeue Light.otf");
    font-weight: 100;
}
**/

@font-face {
    font-family: Raleway;
    src: url("Raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: neuton;
    src: url("Neuton/Neuton-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: neuton;
    src: url("Neuton/Neuton-Bold.ttf");
    font-weight: 700;
}

.top-nav {
    font-family: neuton;
    font-weight: 700;
    background-color: #ffffff;
    text-align: left;
    margin-bottom: 1.5em;
}

.top-nav ul,
.footer-social ul {
	list-style: none;
	margin:0 15px 0 0;
    display: inline-block;
}

.top-nav li {
	display: inline-block;
}

.top-nav a {
    display: block;
    padding: 15px;
    color: #2a2a2a;
}

.top-nav a:hover {
	color:#2a2a2a;
	text-decoration: none;
}

.top-nav ul li:hover {
	background: #ffc0cb;
}

.intro-header{
	background-color: #2a2a2a;
	padding: 8%;
}

h1 {
    font-family: "bebas", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 10em;
    text-align: left;
    color:#ffffff;
    line-height: 1em;
    margin: 15px 0px -15px -5px; 
}

h2 {
	font-family: "bebas", Georgia, serif;
    font-weight: 00;
    font-size: 1.7em;
    text-align: left;
    color:#ffffff;
    margin: 0px; 
}

h3 {
    font-family: "neuton", Georgia, serif;
    font-weight: 100;
    font-size: 2em;
    color:#2a2a2a;
    line-height: 1em;
}

/**
h4 {
    font-family: "bebas", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    color:#2a2a2a;
    line-height: 1em;
}
**/

.projects {
    max-width:85%;
    margin: 0 auto 0 auto;
    padding-bottom: 3em;
}

.project-copy {
    padding:1em;
}

.project-wide {
    width: 100%;
    padding-bottom: 2em; 
    background-color: #ffffff;
}

.project-wide img,
.project-thin img {
    width: 100%;
}

.articles {
    max-width:85%;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #d3d3d3;
}

.post-teaser a {
    color: #2a2a2a;
    list-style: none;
    margin:0 0 0 0;
    padding:0;
}

.post-teaser a:hover {
    color: #ffc0cb;
}

.post-teaser img {
    display: block;
    width: 100%;
}

.button {
    background-color: #2a2a2a;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 10px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0 40px 0;
}

.pagination {
    margin: 20px 0 20p 40px;
}    

.pagination a {
    font-family: bebas;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #ffc0cb;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #2a2a2a;
    color: white;
}

.footer-social {
    color:#ffffff;
	background-color: #2a2a2a;
    padding: 6%;
    clear: both;
}

.footer-social h3 {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-social li, 
i {
    color:#fff;
    display: inline-block;
    font-size: 2em;
    margin: 0 0.1em 0 0;
}

i:hover {
    color: #ffc0cb;
}


