<div class="footer-social">
    <h4>We should be friends</h4>
    <ul>    
        <li>
            <a href="http://www.instagram.com/emmagrdina">
                <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://www.pinterest.com/EmmaGrdina/">
                <i class="fab fa-pinterest" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/emma-grdina-b7162673">
                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="http://www.twitter.com/egrdina">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <br><h4>© Made with love by Emma Grdina {{ "now" | date("Y") }}</h4>
</div>
