{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        <div class="tldr">
            {{ post.content }}
        </div>

        <div id="Work" class="project-header">
            <h1>Work</h1>
        </div>

        <div class="projects">
            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/the-coral-project/"><img src="http://www.emmagrdina.com/wp-content/uploads/2017/07/Coral_promo.png" /></a>

                <div class="project-copy">
                    <h5>1.</h5>
                    <h3>
                        <a href="http://www.emmagrdina.com/portfolio/the-coral-project/">
                        The Coral Project                    </a>
                    </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/the-lily/"><img src="http://www.emmagrdina.com/wp-content/uploads/2017/11/The-Lily.png" /></a>

                <div class="project-copy">
                <h5>2.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/the-lily/">
                The Lily                    </a>
                </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/multiple-hats-management/"><img src="http://www.emmagrdina.com/wp-content/uploads/2018/11/MultipleHatsManagement-2.png" /></a>

                <div class="project-copy">
                <h5>3.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/multiple-hats-management/">
                Multiple Hats Management                    </a>
                </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/the-washington-post-site-refresh/"><img src="http://www.emmagrdina.com/wp-content/uploads/2017/07/Screen-Shot-2017-12-03-at-8.05.35-PM.png" /></a>

                <div class="project-copy">
                <h5>4.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/the-washington-post-site-refresh/">
                The Washington Post site redesign                    </a>
                </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/my-online-portfolio/"><img src="http://www.emmagrdina.com/wp-content/uploads/2018/05/Small-Mood-board-2.jpg" /></a>

                <div class="project-copy">
                <h5>5.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/my-online-portfolio/">
                My online portfolio                    </a>
                </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/the-feminism-project/"><img src="http://www.emmagrdina.com/wp-content/uploads/2017/07/Screen-Shot-2017-12-03-at-7.33.24-PM.png" /></a>

                <div class="project-copy">
                <h5>6.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/the-feminism-project/">
                The Feminism project                    </a>
                </h3>
                </div>
            </div><!-- /.project -->

            <div class="project">
                <a href="http://www.emmagrdina.com/portfolio/my-food-blog/"><img src="http://www.emmagrdina.com/wp-content/uploads/2017/12/three-cookie-stacks.jpg" /></a>

                <div class="project-copy">
                <h5>7.</h5>
                <h3>
                <a href="http://www.emmagrdina.com/portfolio/my-food-blog/">
                My food blog                    </a>
                </h3>
                </div>
            </div><!-- /.project -->
        </div><!-- /.projects -->
    </article>
</div><!-- /content-wrapper -->
{% endblock %}

